<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./landin.css">
</head>
<html>
    <body>
      <main id:"hero>
        <div class="promo">
            <h3>¿Queres vivir la experiencia HENRY COUNTRIES?</h3>
            <p> Actividades turisticas, deportivas, eventos y mas. </p>
            <button type="button">COMENCEMOS</button>
        </div>
        <video muted autoplay loop>
            <source src="../../../public/images/digital-earth-animated.mp4" type="video/mp4">
        </video>
        <div class="capa"></div>

      </main>
    </body>
</html>