.divBusqueda {
  display: flex;
  
  color: rgb(66, 66, 66);

}

.divNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:yellow;
    height: 60px;
    margin: -15;  
  }
  
  .divLogo {
    margin: 0;
    
   }

  .header {
    margin: -15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }

  .btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
  }
  
  .btn:hover {
    border-radius: 30px;
    border: solid black 6px;
  }
  
  h2 {
    margin: 0;
  }
  